.project-content {
    display: block;
    color: #d3d3d3;
    text-decoration: none;
    width: 100%;
    user-select: none;
    background: linear-gradient(135deg, #202020, #303030);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.project-content-name {
    font-size: 20px;
    font-weight: bold;
    word-break: break-word;
    white-space: pre-wrap;
}

.project-content-type {
    font-size: 12px;
    font-weight: bold;
    background: #800;
    border-radius: 5px;
    padding: 5px;
}

.project-content-url {
    color: #A00;
    font-size: 12px;
    margin-top: 10px;
    text-decoration:underline;
    word-break: break-word;
    white-space:pre-wrap;
}
