.search {
    display: flex;
    width: 100%;
    border: 3px solid #A00;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    background: #1e1e1e;
}

.search-input {
    flex: 1;
    padding: 2.5px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: #d3d3d3;
}

.search-btn {
    cursor: pointer;
    width: 85px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #A00;
    color: white;
}

.search-btn:hover {
     background-color: #800;
}

@media screen and (max-width: 768px) {
    .search {
        height: 35px;
    }
    .search-input{
        font-size: 14px;
    }
    .search-btn {
        font-size: 14px;
    }
}
