.top-nav, .top-nav-left, .top-nav-right {
    display: flex;
    list-style:none;
}

.top-nav {
    padding: 20px 30px;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, #101010, #1F1F1F);
}

.top-nav-left a, .top-nav-right a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: bold;
}

.top-nav-left .top-nav-left-link:hover, .top-nav-right .top-nav-right-link:hover {
    color: #800;
}

.top-nav-left .top-nav-left-link-active, .top-nav-right .top-nav-right-link-active {
    color: #A00;
}
