@page "/admin"
@model Web.Ui.Pages.AdminModel
@{
    ViewData["Title"] = "登录";
    ViewData["Route"] = "admin";
}

@section CSS{
    <link rel="stylesheet" href="~/css/adminpage.css" />
}

<div class="page" style="align-items:center;">
    <form class="card admin-card" action="/admin" method="post">
        <h1>登录后台</h1>
        @Html.AntiForgeryToken()
        <div class="admin-input">
            <label>密码</label>
            <input name="password" type="password" />
        </div>
        @if (!string.IsNullOrEmpty(Model.Msg))
        {
            <div class="admin-input" style="color: #F00; font-size: 12px;margin-top: 0;margin-bottom:0;">
                @Model.Msg
            </div>
        }
        <div class="admin-input" style="justify-content:center;">
            <button class="page-btn" type="submit">登录后台</button>
        </div>
    </form>
</div>
