@page "/blogInfo/{id}"
@model Web.Ui.Pages.BlogInfoModel
@{
    var Data = Model.VModel.Data;
    ViewData["Title"] = Data?.Title ?? "博客详情";
    ViewData["Route"] = "blogs";
}

@section CSS {
    <link rel="stylesheet" href="~/css/blogpage.css" />
    <link rel="stylesheet" href="~/css/prism.css" />
}

<div class="page blog-page">
    <div class="blog-info">
        @if (Data != null)
        {
            <div class="blog-info-header">
                <div class="blog-info-header-title">
                    <div class="blog-info-header-title-content">@Data.Title</div>
                    <div class="blog-info-header-date">发布时间：@Data.CreateDate</div>
                </div>
                <button class="page-btn blog-toback" onclick="window.history.back()">
                    返回
                </button>
            </div>
            <div class="blog-info-content">
                @if (Data.Content != null)
                {
                    @Html.Raw(Data.Content)
                }
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/prism.js"></script>
    <script>
        window.onload = () => {
            Prism.highlightAll();
            const container = document.querySelector('.container'); // 获取 container 元素
            const links = container.querySelectorAll('a'); // 查询其中的 <a> 标签

            for (const link of links){
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const target = document.getElementById(new URL(this.href).hash.slice(1));
                    const offset = 70; // 偏移量，例如导航栏高度
                    const targetPosition = target.getBoundingClientRect().top + window.scrollY - offset;

                    // 平滑滚动到目标位置
                    window.scrollTo({
                        top: targetPosition,
                        behavior: 'smooth'
                    });
                });
            }
        }
    </script>
}