@page
@model IndexModel
@{
    ViewData["Title"] = "主页"; 
    ViewData["Route"] = "index";

    string IndexTitle = "欢迎来到零风的个人网站";
    IndexTitle = string.Concat(IndexTitle.Select(ch => $"<span>{ch}</span>"));
}

@section CSS {
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/components/search.css" />
}

<div class="homepage">
    <div class="title">@Html.Raw(IndexTitle)</div>
    <form class="search" action="/blogs" method="get">
        <input class="search-input" name="search" type="text" />
        <button type="submit" class="search-btn">站内搜索</button>
    </form>
</div>
