@page "/admin"

<div class="page">
    <div>
        <div>Image文件：</div>
        <InputFile OnChange="HandleImageSelected" multiple="true"></InputFile>
        <div>
            @foreach(var image in ImageBuffers)
            {
                <div>@image.Name</div>
            }
        </div>
    </div>
    <div>
        <div>Markdown文件：</div>
        <InputFile OnChange="HandleMarkdownSelected"></InputFile>
    </div>
</div>

@code {
    private long maxFileSize = 10 * 1024 * 1024; // 最大文件大小：10MB
    private int uploadProgress = 0;
    private LinkedList<(string Name, byte[] Buffer)> ImageBuffers = new LinkedList<(string Name, byte[] Buffer)>();
    private byte[] MarkdownBuffer = new byte[0];


    private async Task HandleImageSelected(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            if (file.Size > maxFileSize)
            {
                Console.WriteLine($"{file.Name} 超过最大文件大小限制！");
                continue;
            }

            var buffer = new byte[file.Size];
            using var stream = file.OpenReadStream(maxFileSize);
            await stream.ReadAsync(buffer);

            // 保存文件到服务器
            ImageBuffers.AddLast((file.Name, buffer));
        }
    }

    private async Task HandleMarkdownSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file == null) return;
        if (file.Size > maxFileSize)
        {
            Console.WriteLine($"{file.Name} 超过最大文件大小限制！");
            return;
        }

        var buffer = new byte[file.Size];
        using var stream = file.OpenReadStream(maxFileSize);
        await stream.ReadAsync(buffer);

        // 保存文件到服务器
        MarkdownBuffer = buffer;
    }

    private Task Upload()
    {
        if(MarkdownBuffer.Length == 0)
        {
            return Task.CompletedTask;
        }

        return Task.CompletedTask;
    }
}
