@page "/blog/{id}"
@inject BlogPresenter presenter;

<div class="page">
   <div class="blog-info">
        @if (blog != null)
        {
            <div class="blog-info-header">
                <div class="blog-info-header-title">
                    <div class="blog-info-header-title-content">@blog.Title</div>
                    <div class="blog-info-header-date">发布时间：@blog.CreateDate</div>
                </div>
                <button class="blog-info-toback">返回</button>
            </div>
            <div class="blog-info-content">
                @if (blog.Content != null)
                {
                    @((MarkupString)blog.Content)
                }
            </div>
        }
   </div>
</div>
@code {
    [Parameter]
    public string id { get; set; } = string.Empty;

    public Blog? blog;

    protected override Task OnInitializedAsync()
    {
        blog = presenter.GetBlog(id);
        return Task.CompletedTask;
    }
}
