@page "/"

@inject NavigationManager navigation

<PageTitle>ZeroWind的个人网站-主页</PageTitle>


<div class="homepage">
    <div class="title">
        @foreach (char ch in _homeTitle)
        {
            <span>@ch</span>
        }
    </div>
    <div class="search">
        <input @bind-value="SearchTitle" class="search-input" type="text" />
        <button class="search-btn" @onclick="OnSearch">站内搜索</button>
    </div>
</div>

@code {
    private string _homeTitle = "欢迎来到ZEROWIND的个人网站";

    public string SearchTitle = string.Empty;

    private void OnSearch()
    {
        navigation.NavigateTo($"/blogs/{SearchTitle}");
    }
}
