@inherits LayoutComponentBase

<div id="app">
    <div>
        <NavMenu />
    </div>

    <main>
        <article>
            <div class="page-content">
                @Body
            </div>
        </article>
        <footer>
        </footer>
    </main>
</div>
