<div class="top-nav">
    <ul class="top-nav-left">
        <li class="top-nav-left-item">
            <NavLink class="top-nav-left-link"
                     ActiveClass="top-nav-left-link-active"
                     href="/"
                     Match="NavLinkMatch.All">主页</NavLink>
        </li>
        <li class="top-nav-left-item">
            <NavLink class="top-nav-left-link"
                     ActiveClass="top-nav-left-link-active"
                     href="/blogs"
                     Match="NavLinkMatch.Prefix">博客</NavLink>
        </li>
        <li class="top-nav-left-item">
            <NavLink class="top-nav-left-link"
                     ActiveClass="top-nav-left-link-active"
                     href="/projects"
                     Match="NavLinkMatch.Prefix">项目</NavLink>
        </li>
    </ul>

    <ul class="top-nav-right">
        <li class="top-nav-left-item">
            <a class="top-nav-right-link"
               target="_blank"
               href="https://github.com/pZeroWind?tab=repositories">To Github</a>
        </li>
    </ul>
</div>
