<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZeroWind的个人网站 - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/app.css"/>
    @RenderSection("CSS", required: false)
    <link rel="stylesheet" href="~/css/components/topnav.css" />
</head>

<body>
    <div id="app">
        <header>
            @if ((ViewData["Route"] is string route) && !route.Contains("admin"))
            {
                @await Html.PartialAsync("_NavbarUser")
            }
            else
            {
                @await Html.PartialAsync("_NavbarAdmin")
            }
        </header>

        <main>
            <article>
                <div class="container">
                    @RenderBody()
                </div>
            </article>
        </main>
        <footer>
            <a href="https://beian.miit.gov.cn/" target="_blank">湘ICP备2022000289号-1</a>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>