<div class="top-nav">
    <ul class="top-nav-left">
        <li class="top-nav-toggle" onclick="ToggleNav()">
            <a class="top-nav-left-link">菜单</a>
        </li>
        <li class="top-nav-left-item phone-hidden">
            <a class="@((ViewData["Route"] as string) == "admin/blogs" ? "top-nav-left-link-active" : "top-nav-left-link" )"
               href="/admin/blogs">博客管理</a>
        </li>
        <li class="top-nav-left-item phone-hidden">
            <a class="@((ViewData["Route"] as string) == "admin/projects" ? "top-nav-left-link-active" : "top-nav-left-link" )"
               href="/admin/projects">项目列表管理</a>
        </li>
        <li class="top-nav-left-item phone-hidden">
            <a class="@((ViewData["Route"] as string) == "admin/user" ? "top-nav-left-link-active" : "top-nav-left-link" )"
               href="/admin/user">个人资料管理</a>
        </li>
    </ul>

    <ul class="top-nav-right">
        <li class="top-nav-right-item">
            <a class="top-nav-right-link"
               target="_blank"
               href="https://github.com/pZeroWind?tab=repositories">To Github</a>
        </li>
    </ul>
</div>