<div class="top-nav">
    <ul class="top-nav-left">
        <li class="top-nav-left-item">
            <a class="@((ViewData["Route"] as string) == "index" ? "top-nav-left-link-active" : "top-nav-left-link" )"
               href="/">主页</a>
        </li>
        <li class="top-nav-left-item">
            <a class="@((ViewData["Route"] as string) == "blogs" ? "top-nav-left-link-active" : "top-nav-left-link" )"
               href="/blogs">博客</a>
        </li>
        <li class="top-nav-left-item">
            <a class="@((ViewData["Route"] as string) == "about" ? "top-nav-left-link-active" : "top-nav-left-link" )"
               href="/about">关于我</a>
        </li>
    </ul>

    <ul class="top-nav-right">
        <li class="top-nav-left-item">
            <a class="top-nav-right-link"
               target="_blank"
               href="https://github.com/pZeroWind?tab=repositories">To Github</a>
        </li>
    </ul>
</div>