@inject NavigationManager navigation

@if(BlogData != null)
{
    <div class="blog-card" @onclick="ToBlogInfo">
        <div class="blog-card-title">
            @BlogData.Title
        </div>
        <div class="blog-card-date">
            <div class="blog-card-date-item">
                发布时间：@BlogData.CreateDate
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public Blog? BlogData { get; set; } = null;

    private void ToBlogInfo()
    {
        if(BlogData != null)
            navigation.NavigateTo($"blog/{BlogData.Id}");
    }
}
