.blog-list {
    flex: 1;
    background: #202020;
    border-radius: 5px;
    padding: 15px;
    min-height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blog-list-content{
    flex: 1;
}

.blog-list-pager {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: linear-gradient(135deg, #202020, #303030);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    min-height: 30px;
    min-width: 100px;
}

.blog-list-pager span{
    display: inline-block;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

.blog-info {
    flex: 1;
    background: #202020;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    min-height: 525px;
    display: flex;
    flex-direction: column;
}

.blog-info-content {
    overflow-x: auto;
    line-height: 1.5;
}

.blog-info-content .image-box{
    margin: 10px 0;
    overflow: auto;
}


.blog-info-content a{
    color: #A00;
    text-decoration: none;
}

.blog-info-content ol,  .blog-info-content ul{
    list-style: none;
    padding-left: 20px; /* 外边距调整 */
    margin-bottom: 15px;
}

/* 嵌套的有序列表 */
.blog-info-content ol ol,.blog-info-content ol ul {
    padding-left: 20px; /* 增加内边距，使嵌套更加明显 */
    margin-bottom: 0px;
}

/* 嵌套更深的有序列表 */
.blog-info-content ol ol ol,.blog-info-content ol ul ul,.blog-info-content ol ol ul {
    padding-left: 20px;
    margin-bottom: 0px;
}

.blog-info-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px dashed #252525;
    margin-bottom: 10px;
}

.blog-info-header-title{
    margin-bottom: 20px;
}

.blog-info-header-title-content {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-info-header-date {
    font-size: 12px;
}

.blog-toback{
    height: 50px;
    width: 100px;
}

.blog-page {
    padding: 0 7.5%;
}

@media screen and (max-width: 768px) {
    .blog-page {
        padding: 0 2.5%;
    }

    .blog-toback {
        height: 45px;
        width: 80px;
        margin-left: 20px;
    }

    .page-btn {
        font-size: 14px;
    }
}
