<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Web.View.styles.css" />
    <link rel="stylesheet" href="homepage.css" />
    <link rel="stylesheet" href="blogpage.css" />
    <link rel="stylesheet" href="components/topnav.css" />
    <link rel="stylesheet" href="components/search.css" />
    <link rel="stylesheet" href="components/blog_component.css"/>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body bgcolor="#303030">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
